{% extends 'layout.html.twig' %}


{% block content %}

	<main class="bg-cocktail container">
		<h1 class="mt-5 mb-2 text-center text-cocktail">Recettes de l'ingrédient sélectionné :</h1>
		<p></p>
		 <pre>
    </pre> 
		<div class="container px-4 py-5" id="hanging-icons">
		<h2 class="pb-2 border-bottom text-center text-cocktail">Ingrédients {{ingredient.ingredient}}</h2>
        <div class="container-fluid gap-2">
		<div class="row py-5 row-cols-1 row-cols-lg-3 text-card-cocktail gy-3">
        {% for recipe in recipes %}
			<div class="col d-flex align-items-center justify-content-evenly bg-card-cocktail p-2 border border-dark text-card-cocktail">
				<div class="icon-square flex-shrink-0 me-3">
					<img class="bi cocktail-cardImage" src="{{ recipe.recipe_image }}" alt="picture of {{ recipe.recipe_name }}">
				</div>
				<div>
					<h2 class="text-center">{{ recipe.recipe_name|title }}</h2>
					<a href="/recipes/show?id={{ recipe.recipe_id }}" class="btn-cocktail btn-cocktail-color ">
						Voir les recettes !
					</a>
				</div>
			</div>
        {% endfor %}
		</div>
	</div>
	</main>
{% endblock %}