{% extends 'layout.html.twig' %}

{% block content %}
	<h1 class="my-5 text-center">Picoler oui, mais en respectant la planète !</h1>
	<pre>
        {{ dump(ingredients) }}
    </pre>

	<div class="container px-4 py-5" id="hanging-icons">
		<h2 class="pb-2 border-bottom text-center">Ingrédients de saison</h2>
		<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for ingredient in ingredients %}
			<div class="col d-flex align-items-start bg-light p-2 border border-dark">
				<div class="icon-square text-dark flex-shrink-0 me-3">
					<img class="bi" src="{{ ingredient.image }}" alt="picture of {{ ingredient.ingredient_name }}">
				</div>
				<div>
					<h2 class="text-center">{{ ingredient.ingredient_name|title }}</h2>
					<p class="text-center">{{ ingredient.type_name|title }}</p>
					<a href="/recipes?id={{ ingredient.id }}" class="btn btn-primary ">
						Voir les recettes !
					</a>
				</div>
			</div>
        {% endfor %}
		</div>
	</div>
{% endblock %}
